/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.header__navigation {
  font-stretch: condensed;
  font-family: "Source Sanc Pro", sans-serif;
  font-size: 14px;
}

.heading {
  font-family: "Montserrat", sans-serif, bold;
}
.heading__title {
  font-size: 80px;
  color: #ffffff;
  font-weight: 900;
  line-height: 98px;
  letter-spacing: 0.1em;
  font-optical-sizing: auto;
}
@media screen and (max-width: 1023px) {
  .heading__title {
    font-size: 44px;
  }
}
@media screen and (max-width: 426px) {
  .heading__title {
    font-size: 22px;
  }
}
.heading__text {
  font-size: 18px;
  color: #ffffff;
  line-height: 22px;
  letter-spacing: 0.37em;
}

h2 {
  font-family: "Montserrat", sans-serif, bold;
  font-size: 44px;
  line-height: 54px;
  font-weight: 700;
  text-align: center;
}
@media screen and (max-width: 426px) {
  h2 {
    font-size: 22px;
  }
}

h3 {
  font-family: "Montserrat", sans-serif, normal;
  font-size: 22px;
  line-height: 27px;
}

p {
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 30px;
}

.project {
  color: #2C4058;
}
.project__location {
  font-family: "Open Sans";
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
}

.news__title {
  color: #ffffff;
}

.news__name {
  font-weight: bold;
}

.news__paragraph {
  line-height: 25px;
}

.information {
  font-family: "Montserrat", sans-serif, normal;
  font-weight: 28px;
  font-size: 18px;
  color: #000000;
}
@media screen and (max-width: 426px) {
  .information {
    font-size: 10px;
  }
}

.contacts__item {
  line-height: 29px;
}
@media screen and (max-width: 426px) {
  .contacts__item {
    line-height: 15px;
  }
}

.submit__input {
  font-family: "Montserrat", sans-serif, normal;
  font-weight: 28px;
  font-size: 18px;
  color: #000000;
}

.footer__text {
  color: #ffffff;
  font-size: 14px;
  font-family: "Montserrat", sans-serif, normal;
  line-height: 17px;
}

.date {
  font-family: "Montserrat", sans-serif, normal;
  color: #55B7FF;
  font-size: 14px;
  line-height: 17px;
}

.btn {
  width: 190px;
  height: 50px;
  padding: 10px;
  font-family: "Montserrat", sans-serif, normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  background-color: #ffffff;
  cursor: pointer;
}
.btn:hover {
  background-color: #2C4058;
  color: #ffffff;
}

.submit__button {
  width: 140px;
  transform: translate(178px, 31px);
}
@media screen and (max-width: 1023px) {
  .submit__button {
    transform: translate(168px, 31px);
  }
}
@media screen and (max-width: 426px) {
  .submit__button {
    transform: translate(62%, -66%);
  }
}

.social {
  display: flex;
  justify-content: space-between;
  width: 160px;
  margin: 0 auto;
  transform: translate(-2px, 9px);
}

.icon:hover {
  filter: blur(1px);
  transform: scale(1.5);
}

i {
  color: #ffffff;
}

.fa-circle {
  font-size: 9px;
  margin-right: 17px;
  transform: translate(1px, -1px);
}
.fa-circle:hover {
  background-color: #ffffff;
  border-radius: 50%;
}

.nav__link {
  color: #ffffff;
  text-decoration: none;
  font-family: "Source Sanc Pro", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

body {
  margin: 0 auto;
  min-width: 375px;
  max-width: 1600px;
}

hr {
  color: #2C4058;
  width: 100px;
  margin-top: 80px;
}

footer {
  background-image: url("../../img/Rectangle16.jpg");
  height: 30vw;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1023px) {
  footer {
    height: 46vw;
  }
}
@media screen and (max-width: 426px) {
  footer {
    height: 70vw;
  }
}

.information {
  width: 53%;
  max-width: 770px;
  background-image: url("../../img/Form.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  transform: translate(415px, -451px);
  padding: 60px;
}
@media screen and (max-width: 1024px) {
  .information {
    width: 67%;
    transform: translate(164px, -420px);
    padding: 28px;
  }
}
@media screen and (max-width: 1023px) {
  .information {
    width: 88%;
    height: 387px;
    transform: translate(36px, -415px);
    padding: 16px;
  }
}
@media screen and (max-width: 426px) {
  .information {
    width: 90%;
    transform: translate(5px, -415px);
  }
}
.information__line {
  transform: translate(0px, -81px);
  line-height: 84px;
  color: #2C4058;
}
.information__title {
  transform: translate(0px, -59px);
}

li > i {
  color: #7E5AFF;
}

.container {
  display: flex;
  transform: translate(7px, -41px);
}
@media screen and (max-width: 426px) {
  .container {
    transform: translate(7px, -85px);
    flex-direction: column;
  }
}

.contacts {
  width: 50%;
}
.contacts__inform {
  margin-top: 20px;
}
.contacts__item {
  margin-bottom: 27px;
}
@media screen and (max-width: 426px) {
  .contacts__item {
    margin-bottom: 17px;
  }
}
@media screen and (max-width: 426px) {
  .contacts {
    margin-bottom: 12px;
  }
}

.submit {
  width: 50%;
}
.submit__label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (max-width: 426px) {
  .submit__label {
    transform: translate(7px, -29px);
  }
}
.submit__input {
  width: 310px;
  margin: 10px 0;
  padding: 12px 0px 13px 0;
  border-bottom: 1px solid #2C4058;
  border-top: none;
  border-left: none;
  border-right: none;
  opacity: 0.5;
}
.submit__input:hover {
  opacity: 2;
}

.footer__logo {
  transform: translate(415px, 206px);
}
@media screen and (max-width: 1023px) {
  .footer__logo {
    transform: translate(48px, 139px);
  }
}
.footer__text {
  margin-top: 32px;
}
.footer__social {
  transform: translate(308px, 97px);
}
@media screen and (max-width: 1023px) {
  .footer__social {
    transform: translate(251px, 31px);
  }
}
@media screen and (max-width: 426px) {
  .footer__social {
    transform: translate(6px, 130px);
  }
}

header {
  background-image: url("../../img/HeaderMain-banner.jpg");
  background-repeat: no-repeat;
  height: 50vw;
  max-width: 1600px;
  max-height: 800px;
  min-height: 800px;
  position: relative;
}
@media screen and (max-width: 1023px) {
  header {
    height: 25vw;
    max-height: 500px;
    min-height: 500px;
  }
}
header .header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 215px 0 215px;
  transform: translate(0px, 33px);
  width: 73.25%;
}
@media screen and (max-width: 1023px) {
  header .header {
    transform: translate(-138px, 33px);
  }
}
@media screen and (max-width: 426px) {
  header .header {
    transform: translate(-181px, 33px);
  }
}
header .header__logo {
  margin-top: 20px;
}
header .header__navigation {
  width: 50%;
  margin-left: 20px;
  transform: translate(4px, 9px);
}
@media screen and (max-width: 1023px) {
  header .header__navigation {
    width: 35%;
  }
}
header .header__nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
header .header__social {
  height: auto;
}
header .nav__link:hover > i {
  background-color: #ffffff;
  border-radius: 50%;
}
header .heading {
  height: 26vw;
  transform: translate(0px, 253px);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 416px;
  max-height: 416px;
}
@media screen and (max-width: 1023px) {
  header .heading {
    transform: translate(0%, 29%);
  }
}
header .heading__arrow {
  margin-top: auto;
  border: 1px solid #ffffff;
  border-radius: 50%;
  padding: 14px 15px;
  font-size: 10px;
}
@media screen and (max-width: 1023px) {
  header .heading__arrow {
    margin-top: 20px;
  }
}
header .heading__text {
  margin-top: 20px;
}
@media screen and (max-width: 426px) {
  header .heading__text {
    margin-left: 55px;
  }
}
header .dots__nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 36px;
  bottom: 267px;
}
@media screen and (max-width: 1023px) {
  header .dots__nav {
    right: 18px;
    bottom: 97px;
  }
}
@media screen and (max-width: 426px) {
  header .dots__nav {
    right: 2px;
    bottom: 36px;
  }
}
header .dots__item {
  padding-bottom: 32px;
}

.gallery__images {
  transform: translate(0px, 84px);
  margin-bottom: -50px;
}
@media screen and (max-width: 1023px) {
  .gallery__images {
    transform: translate(0px, -8px);
    margin-bottom: 20px;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  height: 38vw;
  margin: 50px 145px;
  width: 100%;
  max-height: 721px;
  min-height: 721px;
}
@media screen and (max-width: 1023px) {
  .gallery {
    margin: -79px 8px;
    width: 51%;
  }
}
@media screen and (max-width: 426px) {
  .gallery {
    width: 105%;
  }
}
.gallery__left {
  padding-right: 5px;
}
.gallery__right {
  width: 50%;
}
@media screen and (max-width: 1023px) {
  .gallery__right {
    width: 67%;
  }
}
.gallery__img {
  padding: 0 1px 5px 4px;
  width: 36%;
}

.gallery__title {
  margin-bottom: 91px;
  margin-top: 32px;
}
@media screen and (max-width: 1023px) {
  .gallery__title {
    margin-bottom: 27px;
  }
}

.gallery__button {
  transform: translate(371%, -555%);
}
@media screen and (max-width: 1023px) {
  .gallery__button {
    transform: translate(158%, -197%);
  }
}
@media screen and (max-width: 426px) {
  .gallery__button {
    transform: translate(110%, -325%);
  }
}

.gallery__svg {
  transform: translate(330px, -190px);
}
@media screen and (max-width: 1023px) {
  .gallery__svg {
    transform: translate(263px, 238px);
  }
}

.news {
  background-image: url("../../img/Rectangle5.jpg");
  height: 63vw;
  margin-top: 400px;
  max-height: 1035px;
  min-height: 1035px;
  transform: translate(0px, 26px);
}
@media screen and (max-width: 1023px) {
  .news {
    margin-top: 0;
  }
}
@media screen and (max-width: 1023px) {
  .news {
    margin-top: 24px;
    padding: 0 26px 0 21px;
  }
}
.news__line {
  color: #ffffff;
  width: 100px;
  transform: translate(0px, 132px);
}
.news__title {
  text-align: center;
  margin-top: 162px;
}
.news__carusel {
  display: flex;
  width: 100%;
  transform: translate(14px, 89px);
  min-width: 1170px;
}
@media screen and (max-width: 1440px) {
  .news__carusel {
    transform: translate(-64px, 89px);
  }
}
@media screen and (max-width: 1023px) {
  .news__carusel {
    transform: translate(-179px, 89px);
  }
}
.news__text {
  padding: 30px 20px 30px 20px;
  width: 370px;
}
@media screen and (max-width: 1440px) {
  .news__text {
    width: 250px;
  }
}
.news__name {
  margin-bottom: 10px;
}
.news__paragraph {
  margin-bottom: 42px;
}
.news__photo {
  border-radius: 50%;
  float: left;
  margin-right: 25px;
}
.news__img {
  width: 100%;
}

.carusel__item {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin-right: 25px;
}
@media screen and (max-width: 426px) {
  .carusel__item {
    max-width: 370px;
  }
}

.slick-slider {
  padding: 0 218px 0 202px;
}

ul.slick-dots {
  transform: translate(-228px, 60px);
  margin-right: 5px;
}

button.slick-prev.slick-arrow {
  left: 105px;
}

button.slick-next.slick-arrow {
  right: 152px;
}

.slick-slide {
  width: 370px;
}

@media screen and (max-width: 426px) {
  .element.style {
    width: 370px;
  }
}

.project__main--what {
  text-align: center;
  margin-top: 30px;
}

.project__centre-title {
  margin-top: 99px;
}
.project__trade {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.project__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.project__text {
  margin-bottom: 34px;
  margin-top: 17px;
}
.project__location {
  margin-top: 60px;
}

.trade__image {
  background-color: #589ff1;
  width: 36.55%;
  min-width: 585px;
  transform: translate(1px, 87px);
}
@media screen and (max-width: 1023px) {
  .trade__image {
    min-width: 250px;
  }
}
@media screen and (max-width: 426px) {
  .trade__image {
    transform: translate(1px, -2px);
  }
}

.project__commerce {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  margin-top: 53px;
}
.project__commerce__deskription {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.commerce__image {
  background-color: #7e5aff;
  width: 36.55%;
  min-width: 585px;
  height: 470px;
  transform: translate(535px, 228px);
}
@media screen and (max-width: 1440px) {
  .commerce__image {
    transform: translate(126px, 114px);
  }
}
@media screen and (max-width: 1023px) {
  .commerce__image {
    min-width: 250px;
    height: 382px;
    transform: translate(43px, 101px);
  }
}
@media screen and (max-width: 426px) {
  .commerce__image {
    height: 214px;
  }
}

.trade__img {
  transform: translate(213px, 59px);
}
@media screen and (max-width: 1440px) {
  .trade__img {
    transform: translate(38px, 59px);
  }
}
@media screen and (max-width: 1023px) {
  .trade__img {
    transform: translate(62px, 59px);
    height: 30vw;
  }
}

.commerce__img {
  transform: translate(-261px, 60px);
}
@media screen and (max-width: 1440px) {
  .commerce__img {
    transform: translate(-97px, 60px);
  }
}
@media screen and (max-width: 1023px) {
  .commerce__img {
    transform: translate(62px, 59px);
    height: 30vw;
  }
}

.project__description--trade {
  max-width: 29.35%;
  transform: translate(-215px, 239px);
}
@media screen and (max-width: 1440px) {
  .project__description--trade {
    transform: translate(-48px, 95px);
  }
}
@media screen and (max-width: 1023px) {
  .project__description--trade {
    max-width: 48.35%;
    transform: translate(8px, 89px);
  }
}
@media screen and (max-width: 426px) {
  .project__description--trade {
    max-width: 100%;
  }
}

.project__description--commerce {
  width: 30%;
  transform: translate(219px, 381px);
}
@media screen and (max-width: 1440px) {
  .project__description--commerce {
    transform: translate(9px, 166px);
  }
}
@media screen and (max-width: 1023px) {
  .project__description--commerce {
    width: 46%;
    transform: translate(9px, 75px);
  }
}
@media screen and (max-width: 426px) {
  .project__description--commerce {
    width: 100%;
  }
}

@media screen and (max-width: 426px) {
  .image {
    width: 70%;
    margin-top: 72px;
    margin-bottom: -231px;
  }
}

#map {
  height: 700px;
  max-width: 1600px;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
