.gallery__images {
  transform: translate(0px, 84px);
  margin-bottom: -50px;
  @media screen and (max-width: $tablet-max) {
    transform: translate(0px, -8px);
    margin-bottom: 20px;
  }
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  height: 38vw;
  margin: 50px 145px;
  width: 100%;
  max-height: 721px;
  min-height: 721px;
  @media screen and (max-width: $tablet-max) {
    margin: -79px 8px;
    width: 51%;
  }
  @media screen and (max-width: $mobile-max) {
    width: 105%;
  }

  &__left {
    padding-right: 5px;
    @media screen and (max-width: $mobile-max) {

    }
  }

  &__right {
    width: 50%;
    @media screen and (max-width: $tablet-max) {
      width: 67%;
    }
  }

    &__img {
      padding: 0 1px 5px 4px;
      width: 36%;
    }
  }


.gallery__title{
  margin-bottom: 91px;
  margin-top: 32px;
  @media screen and (max-width: $tablet-max) {
    margin-bottom: 27px;
  }
}

.gallery__button {
  transform: translate(371%, -555%);
  @media screen and (max-width: $tablet-max) {
    transform: translate(158%, -197%);
  }
  @media screen and (max-width: $mobile-max) {
    transform: translate(110%, -325%);
  }

}
.gallery__svg {
  transform: translate(330px, -190px);
  @media screen and (max-width: $tablet-max) {
    transform: translate(263px, 238px);
  }
}

