.news {
  background-image: url("/img/Rectangle5.jpg");
  height: 63vw;
  margin-top: 400px;
  max-height: 1035px;
  min-height: 1035px;
  transform: translate(0px, 26px);

  @media screen and (max-width: $tablet-max) {
    margin-top: 0;
  }
  @media screen and (max-width: $tablet-max) {
    margin-top: 24px;
    padding: 0 26px 0 21px;
  }
    &__line {
    color: $white-default-color;
    width: 100px;
    transform: translate(0px, 132px);
  }

  &__title {
    text-align: center;
    margin-top: 162px;
  }

  &__carusel {
    display: flex;
    width: 100%;
    transform: translate(14px, 89px);
    min-width: 1170px;

    @media screen and (max-width: $desktop-max) {
      transform: translate(-64px, 89px)
    }
    @media screen and (max-width: $tablet-max) {
      transform: translate(-179px, 89px);

    }
  }
  &__text{
    padding: 30px 20px 30px 20px;
    width: 370px;

    @media screen and (max-width: $desktop-max) {
      width: 250px;
    }
  }
  &__name{
    margin-bottom: 10px;
  }
  &__paragraph{
    margin-bottom: 42px;
  }
  &__photo{
    border-radius: 50%;
    float: left;
    margin-right: 25px;
  }

  &__img{
    width: 100%
  }
}

.carusel__item {
    display: flex;
    flex-direction: column;
    background-color: $white-default-color;
    margin-right: 25px;
    @media screen and (max-width: $mobile-max) {
      max-width: 370px;
  }
 }


.slick-slider{
    padding: 0 218px 0 202px;
  }

ul.slick-dots{
  transform: translate(-228px, 60px);
  margin-right: 5px;
}

button.slick-prev.slick-arrow {
  left: 105px;

}
button.slick-next.slick-arrow {
  right: 152px;
}
.slick-slide{
  width: 370px;
}

.element.style {
  @media screen and (max-width: $mobile-max) {
    width: 370px;
  }
}
