footer {
  background-image: url("/img/Rectangle16.jpg");
  height: 30vw;
  background-repeat: no-repeat;
  @media screen and (max-width: $tablet-max) {
    height: 46vw;
  }
  @media screen and (max-width: $mobile-max){
    height: 70vw;
  }
}

.information{
  width: 53%;
  max-width: 770px;
  background-image: url("/img/Form.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  transform: translate(415px, -451px);
  padding: 60px;

  @media screen and (max-width: $desktop-min) {
    width: 67%;
    transform: translate(164px, -420px);
    padding: 28px;
  }
  @media screen and (max-width: $tablet-max) {
    width: 88%;
    height: 387px;
    transform: translate(36px, -415px);
    padding: 16px;
  }
  @media screen and (max-width: $mobile-max){
    width: 90%;
    transform:translate(5px, -415px);

  }
  &__line{
    transform: translate(0px, -81px);
    line-height: 84px;
    color: $grey-blue-text;
  }
  &__title{
    transform: translate(0px, -59px);
  }
}

li>i{
  color: $icons-contact-color;

}
.container{
  display: flex;
  transform: translate(7px, -41px);
  @media screen and (max-width: $mobile-max){
  transform: translate(7px, -85px);
  flex-direction: column;
}

}

.contacts{
  width: 50%;
  &__inform {
    margin-top: 20px;
      }
  &__item{
    margin-bottom: 27px;
    @media screen and (max-width: $mobile-max) {
      margin-bottom: 17px;
    }
    }

  @media screen and (max-width: $mobile-max) {
    margin-bottom: 12px;
  }
  }

.submit{
  width: 50%;

  &__label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media screen and (max-width: $mobile-max) {
      transform: translate(7px, -29px);
    }
  }
  &__input{
    width: 310px;
    margin: 10px 0;
    padding: 12px 0px 13px 0;
    border-bottom: 1px solid $grey-blue-text;
    border-top: none;
    border-left:none;
    border-right: none;
    opacity: 0.5;
    &:hover{
      opacity: 2;
    }
  }
}

.footer {
  &__logo {
    transform: translate(415px, 206px);
    @media screen and (max-width: $tablet-max) {
      transform: translate(48px, 139px);
    }
  }

  &__text {
    margin-top: 32px;
  }

  &__social {
    transform: translate(308px, 97px);
    @media screen and (max-width: $tablet-max) {
      transform: translate(251px, 31px);
    }
    @media screen and (max-width: $mobile-max) {
      transform: translate(6px, 130px);
    }
  }
}


