header {
  background-image: url("../../img/HeaderMain-banner.jpg");
  background-repeat: no-repeat;
  height: 50vw;
  max-width: 1600px;
  max-height: 800px;
  min-height: 800px;
  position: relative;
  @media screen and (max-width: $tablet-max) {
    height: 25vw;
    max-height: 500px;
    min-height: 500px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 215px 0 215px;
    transform: translate(0px, 33px);
    width: 73.25%;
    @media screen and (max-width: $tablet-max){
      transform: translate(-138px, 33px);
    }
    @media screen and (max-width: $mobile-max) {
      transform: translate(-181px, 33px);
    }

    &__logo {
      margin-top: 20px;

    }

    &__navigation {
      width: 50%;
      margin-left: 20px;
      transform: translate(4px, 9px);
      @media screen and (max-width: $tablet-max){
        width: 35%;
      }
    }

    &__nav {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    &__social {
      height: auto;

    }
  }

  .nav__link:hover > i {
    background-color: $white-default-color;
    border-radius: 50%;

  }

  .heading {
    height: 26vw;
    transform: translate(0px, 253px);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 416px;
    max-height: 416px;

    @media screen and (max-width: $tablet-max) {
      transform: translate(0%, 29%);
    }
    //@media screen and (max-width: $mobile-min) {
    //  transform: translate(2.1%, 33%)
    //}

    &__arrow {
      margin-top: auto;
      border: 1px solid $white-default-color;
      border-radius: 50%;
      padding: 14px 15px;
      font-size: 10px;
      @media screen and (max-width: $tablet-max){
        margin-top: 20px;
      }
    }

    &__text {
      margin-top: 20px;

      @media screen and (max-width: $mobile-max) {
        margin-left: 55px;
      }
    }
  }

  .dots {
    &__nav {
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 36px;
      bottom: 267px;

      @media screen and (max-width: $tablet-max) {
        right: 18px;
        bottom: 97px;
      }
      @media screen and (max-width: $mobile-max) {
        right: 2px;
        bottom: 36px;
      }
    }

    &__item {
      padding-bottom: 32px;
    }
  }
}