$white-default-color     : #ffffff;
$grey-blue-text          : #2C4058;
$button-city-contact-text: #000000;
$icons-contact-color     : #7E5AFF;
$color-blue              : #589ff1;
$color-violet            : #7e5aff;
$color-form              : #4B5562;
$color-date-blue         : #55B7FF;
