//font-size
$main-title          : 80px;
$h2-title            : 44px;
$h3-title            : 22px;
$text-description    : 18px;
$button-nav-name-text: 14px;

//fonts
$nav-font            :'Source Sanc Pro', sans-serif;
$button-title-font   : 'Montserrat', sans-serif, bold;
$monsterrat-normal   : 'Montserrat', sans-serif, normal;
$contact-font        :'FontAwesome';
$description-font    :'Open Sans';

//line height

$line-height-title3  :27px;
$line-height-title2  :54px;
$line-height-text    :30px;
$line-height-location:20px;
$line-height-button  :17px;
$line-height-inform  :28px